
*.vsidx
.vs/0_TravelExpertsAdmin/v17/.wsuo
Workshop4/Workshop4/obj/Workshop4.csproj.nuget.dgspec.json
*.json
Workshop4/Workshop4/obj/project.nuget.cache
*.cache
Workshop4/Workshop4/obj/project.nuget.cache
Workshop4/Workshop4/obj/Workshop4.csproj.nuget.dgspec.json
*.json
*.vsidx
Workshop4/.vs/Workshop4/FileContentIndex/df808c18-2c14-4d98-ab5e-b203ca67cccf.vsidx
*.json
Workshop4/Workshop4/obj/Workshop4.csproj.nuget.dgspec.json
*.json
Workshop4/Workshop4/obj/Workshop4.csproj.nuget.dgspec.json
Workshop4/.vs/Workshop4/FileContentIndex/18fe6fa3-e2b6-4dad-89a4-c6eb80011a0d.vsidx
*.vsidx
Workshop4/.vs/Workshop4/FileContentIndex/ce19aff6-2d54-4335-a7e4-9692b70e7986.vsidx
*.vsidx
Workshop4/.vs/Workshop4/FileContentIndex/df808c18-2c14-4d98-ab5e-b203ca67cccf.vsidx
*.vsidx
Workshop4/Workshop4/obj/Debug/net6.0-windows/Workshop4.assets.cache
*.cache
Workshop4/Workshop4/obj/Debug/net6.0-windows/Workshop4.GeneratedMSBuildEditorConfig.editorconfig
*.editorconfig
Workshop4/Workshop4/obj/project.assets.json
*.json
Workshop4/Workshop4/obj/project.nuget.cache
*.cache
Workshop4/Workshop4/obj/Workshop4.csproj.nuget.dgspec.json
*.json
